.git
.github
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
config/config.env
config/dbConnection.json
uploads
logs
*.log
**/.terraform
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
.DS_Store
